astroid==2.0.4
breadability==0.1.20
certifi==2018.8.24
chardet==3.0.4
decorator==4.3.0
Django==2.1.2
django-widget-tweaks==1.4.3
docopt==0.6.2
idna==2.7
imageio==2.4.1
IndicoIo==1.2.0
isort==4.3.4
lazy-object-proxy==1.3.1
lxml==4.2.5
mccabe==0.6.1
moviepy==0.2.3.5
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.6
nltk==3.3
numpy==1.15.2
Pillow==5.3.0
pylint==2.1.1
pysrt==1.1.1
pytube==9.3.3
pytz==2018.5
requests==2.19.1
six==1.11.0
sumy==0.7.0
tqdm==4.26.0
typed-ast==1.1.0
urllib3==1.23
wrapt==1.10.11
gunicorn==19.6.0
whitenoise==4.1.2chardet==3.0.4
pydub==0.23.0
pysrt==1.1.1
six==1.11.0
SpeechRecognition==3.8.1
