{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VideoMash</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <!-- Hero start  -->
    <section class="hero is-link is-fullheight">
            <div class="hero-head">
                    <nav class="navbar">
                      <div class="container">
                        <div class="navbar-brand">
                          <a class="navbar-item">
                            <img src="{% static "videoSummarizer/logo/icon-left-font-monochrome-white.svg" %}" alt="Logo">
                          </a>
                          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                            <span></span>
                            <span></span>
                            <span></span>
                          </span>
                        </div>
                        <div id="navbarMenuHeroB" class="navbar-menu">
                          <div class="navbar-end">
                            <a class="navbar-item is-active">
                              Home
                            </a>
                            <a class="navbar-item">
                              Documentation
                            </a>
                            <span class="navbar-item">
                              <a class="button is-info is-inverted" href="https://github.com/aswanthkoleri/Project-Video-Summarization">
                                <span class="icon">
                                  <i class="fab fa-github"></i>
                                </span>
                                <span>Download</span>
                              </a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
        <div class="hero-body">
          <div class="container">
            <p class="title has-text-centered is-1">
              <img src="{% static "videoSummarizer/logo/icon-left-font-monochrome-white.svg" %}">
            </p>
            <p class="subtitle is-3 has-text-centered">
              Summarize your video to any duration.
            </p>
            <div class="columns summarize-buttons has-text-centered">
              <div class="column is-3 is-offset-3">
                  <a class="button is-success is-rounded is-medium" href="/subSummarize">Summarize Youtube video</a>
              </div>
              <div class="column is-3 ">
                  <a class="button is-success is-rounded is-medium" href="/main">Summarize uploaded video</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Hero end -->
</body>
</html>