{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video summarizer </title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    .form-start {
        margin-top : 30px;
    }
    .submit-button {
        margin-top: 20px;
    }
    .navbar-item{
        padding : 20px;
    }
    .combineSection{
        margin-top : 3%;
        margin-left : 5%;
        margin-right : 5%;
    }
    .diffMethods{
        margin-left : 15%;
        margin-right : 15%;
        color : #2B7CF0;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
    <!-- Navbar start  -->
{% comment %}     <section class="navbar-menu hero is-dark">
    <div class="navbar-start">
        <div class="navbar-item hero-body">
            <div class="container">
                <h1 class="title">
                  <img src="{% static "main/logo/icon-left-font-monochrome-white.svg" %}>

                </h1>
                <h2 class="subtitle">
                  Summarize your video to any length.
                </h2>
            </div>
        </div>
    </div>
    <!-- <div class="navbar-end">
        <a class="navbar-item">Summarize from Video URL</a>
    </div> -->
    </section> {% endcomment %}
    <!-- Navbar end -->
<nav class="navbar">
  <div class="navbar-menu hero is-success">

    <div class="navbar-start">
        <div class="navbar-item hero-body">
            <div class="container">
                <h1 class="title is-1">
                        <img src="{% static "videoSummarizer/logo/icon-left-font-monochrome-white.svg" %}" >
                </h1>
                <h2 class="subtitle">
                        Summarize your video to any duration.
                </h2>
            </div>
        </div>
    </div>

    <div class="navbar-end">
      <!-- <div class="navbar-item">
            <a class="button is-success" href="/subSummarize" >Summarize from VideoURL</a>
      </div> -->
    </div>

  </div>
</nav>

<div class="container is-fluid" >

<form method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {% comment %} {% for field in form.visible_fields %} {% endcomment %}
               <div class="box form-start">
                   <div class="message is-success">
                    <div class="message-header ">
                        <p>Upload video and subtitles</p>
                    </div>
                </div>
<div class="columns">

                <div class="column ">
                </div>
                <div class="column">

                <div class="field">
                <div class="file is-centered is-boxed is-success has-name">
                <label class="file-label">
                {% render_field form.videoFile class="file-input" id="file1" name="resume" %}
                <span class="file-cta">
                <span class="file-icon">
                <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                Upload Video File
                </span>
                </span>
                <span class="file-name" id="filename1">
                No file uploaded
                </span>
                </label>
                </div>
                </div>
                </div>
                <div class="column">

                        <div class="field">
                        <div class="file is-centered is-boxed is-success has-name">
                        <label class="file-label">
                        {% render_field form.subtitleFile class="file-input" id="file2" name="resume" %}
                        <span class="file-cta">
                        <span class="file-icon">
                        <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                        Upload subtitle File
                        </span>
                        </span>
                        <span class="file-name" id="filename2">
                        No file uploaded
                        </span>
                        </label>
                        </div>
                        </div>
                </div>
                <div class="column ">
            </div>
</div>
<div class="message is-success">
        <div class="message-header ">
                <p>Settings</p>
        </div>
    </div>
<div class="columns ">
        <div class="column ">

  <label class="label is-medium">Select summarization type</label>
            <div class="select is-success is-rounded is-medium is-fullwidth">
                {% render_field form.summarizeType  %}
            </div>
        </div>
        <div class="column ">
                <label class="label is-medium">Enter the summary time</label>
                {% render_field form.summarizationTime class="input is-success is-medium"  %}
        </div>
</div>
<div class="columns edmundson-options">
    <div class="column">
            <div class="field">
                    <div class="file is-medium is-success has-name is-fullwidth">
                    <label class="file-label">
                    {% render_field form.bonusWordsFile class="file-input" id="file3" name="resume" %}
                    <span class="file-cta">
                    <span class="file-icon">
                    <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                    Upload Bonus words File
                    </span>
                    </span>
                    <span class="file-name" id="filename3">
                    No file uploaded
                    </span>
                    </label>
                    </div>
            </div>
        </div>
    <div class="column">
            <div class="field">
                    <div class="file is-medium is-success has-name is-fullwidth">
                    <label class="file-label">
                    {% render_field form.stigmaWordsFile class="file-input" id="file4" name="resume" %}
                    <span class="file-cta">
                    <span class="file-icon">
                    <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                    Upload Stigma words File
                    </span>
                    </span>
                    <span class="file-name" id="filename4">
                    No file uploaded
                    </span>
                    </label>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

        <!-- {{ form.as_p }} -->
        <center>
            <button class="button submit-button is-medium is-success" type="submit" name="submitButton" id="submitButton">Submit</button>
        </center>

        <div class="box combineSection">
            <center>
            <div class="columns diffMethods">
                <div class="column">
                    <label class="checkbox">
                    <input type="checkbox" name="lexRank" value="LR"> Lex Rank<br>
                    </label>
                </div>
                <div class="column">
                    <label class="checkbox">
                    <input type="checkbox" name="luhn" value="LU"> Luhn<br>
                    </label>
                </div>
                <div class="column">
                    <label class="checkbox">
                    <input type="checkbox" name="lsa" value="LS"> LSA<br>
                    </label>
                </div>
                <div class="column">
                    <label class="checkbox">
                    <input type="checkbox" name="textRank" value="TR"> Text Rank<br>
                    </label>
                </div>
            </div>
            <div class="columns diffMethods">
                <div class="column">
                    <label class="radiobox">
                    <input type="radio" name="weights" value="weights">Weighted<br>
                    </label>
                </div>
                <div class="column">
                    <label class="radiobox">
                    <input type="radio" name="normal" value="normal">Non-Weighted<br>
                    </label>
                </div>
            </div>
            <button class="button submit-button is-info is-rounded is-medium" name="combinedVideo" id="combineButton" type="submit">Combined Video</button>
            <p class="help is-info">Make combined video using different methods</p>
            </center>
        </div>
</form>
</div>
<footer class="footer">
        <div class="content has-text-centered">
          <p>
            <!-- <strong>Video Summarizer </strong> by <a href="https://jgthms.com">Aswanth ,Druval, Aswin, Anupam and Parag</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. -->
          </p>
        </div>
      </footer>
</body>
<script>
var file1 = document.getElementById("file1");
file1.onchange = function(){
    if(file1.files.length > 0)
    {
      document.getElementById('filename1').innerHTML = file1.files[0].name;
    }
};

var file2 = document.getElementById("file2");
file2.onchange = function(){
    if(file2.files.length > 0)
    {
      document.getElementById('filename2').innerHTML = file2.files[0].name;
    }
};

var file3 = document.getElementById("file3");
file3.onchange = function(){
    if(file3.files.length > 0)
    {
      document.getElementById('filename3').innerHTML = file3.files[0].name;
    }
};

var file4 = document.getElementById("file4");
file4.onchange = function(){
    if(file4.files.length > 0)
    {
      document.getElementById('filename4').innerHTML = file4.files[0].name;
    }
};
</script>
<script>
$(document).ready(function(){
    $(".edmundson-options").hide();
    $("#id_summarizeType").change(function(){
        var value = $("#id_summarizeType").val();
        console.log(value);
        if(value=="ED"){
            $(".edmundson-options").fadeIn();
        }else{
            $(".edmundson-options").fadeOut();
        }
    });
});
$(document).ready(function(){
    $('#combineButton').click(function() {
        checked = $("input[type=checkbox]:checked").length;
        if(checked<2) {
            alert("Select atleast two method");
            return false;
        }
        else{
            return true;
        }
    });
});
$(document).ready(function(){
    $('#submitButton').click(function() {
        index = document.getElementById('filename1').innerHTML.indexOf("No file uploaded");
        if(index != -1){
            alert("Upload a VideoFile!");
            return false;
        }
        return true;
    });
});
</script>
</html>
